@model IEnumerable<ContosoUniversity2.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Enrollment Date Statistics";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th width="150">
            Enrollment Date 
        </th>
        <th width="10">
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>